@import url("https://fonts.googleapis.com/css2?family=Average+Sans&family=Bodoni+Moda:opsz@6..96&family=Playfair+Display&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about h1 {
  font-family: "Bodoni Moda";
  background-color: #a9fbd7;
  font-size: 20px;
  min-width: 295px;
  height: 34px;
  margin: 2em 1.7em;
  padding-left: 1em;
}

.aboutDesc p {
  min-width: 300px;
  font-family: "Playfair Display";
  font-size: 20px;
  color: #a9fbd7;
  margin: -1em 1.7em;
  line-height: 35px;
}

.aboutDesc span {
  color: #f9dc5c;
}

.aboutDesc .webApp {
  color: #ffcbcb;
}
